.dra_s_b{
	font-family: "µ¸¿ò", "µ¸¿òÃ¼"; 
	font-size: 11px; 
	color: #858585;
	FONT-WEIGHT: bold;
	text-decoration: none;
}

.dra{
	font-family: "µ¸¿ò", "µ¸¿òÃ¼"; 
	font-size: 12px; 
	color: #858585;
	text-decoration: none;
}