@CHARSET "UTF-8";

@media all and (min-width:100px) and (max-width:1679px){

.wra{width:1250px;height:500px; margin: 0 auto;}
.main_warp{ width:100%; height:420px; float: left;  background-image: url('/imgDesignNew/visual_bg.png'); 
			background-size:100%;  background-repeat: no-repeat;}
.quickmenu_wrap{width: 100%; height: 106px; background-image: url('/imgDesignNew/quickmenu_bg.png'); line-height: 133px; vertical-align: middle; float: left;      }			
.quickmenu_img{width: 142px; height: 106px; cursor: pointer;}	
.quickmenu_img_t{width: 186px; height: 106px;}
.visual_menu_1{position: inherit  ; margin: 17% 0 0 12%; float: left; width:222px;height:154px;   cursor: pointer;}
.visual_menu_2{position: inherit  ; margin: 17% 0 0 3%; float: left; width:222px;height:154px;   cursor: pointer;}
.head_blue_1{width:142px; height:50px; border: 0;}
.head_blue_2{width:111px; height:50px; border: 0;}
.head_blue_3{width:140px; height:50px; border: 0;}
.head_blue_4{width:100px; height:50px; border: 0;}
.head_blue_5{width:135px; height:50px; border: 0;}
.head_blue_6{width:142px; height:50px; border: 0;}
.head_ht{width:95%; height: 52px; }

/*menu0  */
.side_menu{width: 250px; height: 117px;}
.side_menu1{ width: 250px; height: 42px;}  
.side_menu2{ width: 250px; height: 65px;}


.menu1_tit{width: 85%; height: 52px;}  
.menu1_img1{width: 768px; height: 1250px;}  
.menu01_wrap{width: 768px; height: auto; float: left;}
.menu01_more{width: 768px; height: 26px; cursor: pointer;}
.menu01_close{width: 768px; height: 26px; cursor: pointer; display: none;}
.menu01_img{width: 768px; height: 206px;}
.menu01_img1{width: 768px; height: 336px;  display: none;  }
.menu01_img2{width: 768px; height: 188px; }
.menu01_img3{width: 768px; height: auto; display: none; }
.menu01_img4{width: 768px; height: 200px;  }
.menu01_img5{width: 768px; height: 1126px; display: none; }
.menu01_img6{width: 768px; height: 300px;}
.menu01_img7{width: 768px; height: 600px; display: none;}
.menu02_img{width: 768px; height: 93px;}
.menu00_img{width:810px; margin-bottom: 30px;margin-top: 30px;}
.menu1_container{width:815px; height: 300px;  display: none;}
.menu1_stdssMap{ height: 700px; text-align: center;}
.menu1_left_p{ width:100px;  font-family: 견고딕; font-size: 12px; font-weight: bold;  }
.menu1_selbox{width: 110px; float: right;margin-right: 10px}
.menu1_img{width: 118px; height: 24px; cursor: pointer;}
.memu1_bplist{width: 768px; }
.memu1_bplist2{width: 768px;}

.menu2_serch{ margin-left:22px; ;width: 206px; height: 29px; cursor: pointer;}
.menu2_img{width:960px; height: 580px;}
.menu2_font{margin-left:250px; font-size: 20; font-weight: bold; font-family: 견고딕; margin-top: 100px; }
.menu2_3font{margin-left:350px; font-size: 20; font-weight: bold; font-family: 견고딕; margin-top: 100px; }
.menu2_3_part_List{width:102%}


.menu3_result_tbm{ height: auto; float: left;}
.menu3_result_tb{width: 87%; height: auto; float: left; margin-left: 30px; overflow-x: scroll; display: none;}

.menu4_table{width: 90%;float: left; }

.menu3_tit{width: 85%; height: 52px;}  
.menu4_tit{width: 100%; height: 52px;}  
.menu5_tit{width: 106%; height: 52px;}  
.contentWrapper{}
.contentWrapper2{width: 877px;}

.menu5_img{width: 768px; height: 602px;} 
.menu5_0_td{height: 40px; text-align: left;} 
.menu5_selbox{width: 575px; height: 33px;}
.menu5_selbox2{border-spacing: 2px;width: 820px; height: 80px; float: left; display:  block;margin-top:10px }
.menu5_selbox3{width: 600px; height: 33px;}
.menu5_map{width: 820px; height: 700px; background-color: #EEEEEE; float: left; margin-top:40px;}
.menu5_map_font{width: 820px;  font-size: 15; font-weight: bold; font-family: 견고딕; }
.menu5_selectYear{width: 160px; height: 28px; font-size: 13px}
.menu5_pop{width: 160px; height: 28px; font-size: 13px}
.menu5_budget{width: 160px; height: 28px; font-size: 13px}
.menu5_busuness_year{width: 160px; height: 28px; font-size: 13px}
.menu5_system_facility{width: 160px; height: 28px; font-size: 13px}
.menu5_listwrap{width: 300px; height: 700px; position: absolute; left: 888px; top: 360px; z-index: 10; display: none;}

.mapTable { width:380px;height: 100%; text-align: center; font-family: NanumGothic;  font-size:  9px;}
.mapTable th {background: #d0d0d0; color: #406177; font-size: 9px; font-weight: bold; height: 30px;}
.mapTable td {height: 30px; font-size: 9px;}
.partTitle{width: 87%; height: 50px; float: left; text-align: left; font-size: 20px; font-weight: bold; font-family: 견고딕; margin-top: 10px; background-color: #033CA4; color: #FFFFFF;text-align:center;}
.keywordWrap{width: 90%; height: 100px; border: 0; border-spacing: 0; padding: 0; line-height: 50px;}
.contentWrapper3{margin-left:1px; width:875px;  }
.contentWrapper2_3{width: 100%;float: left; }
.contentWrapper2_4{width: 100%;float: left; }
.contentWrapper5{float: left; }
.footer_size{ margin-left: 0%   }
.contentWrapper6{width:80%; float: left; }
.award_table1{width:800px}

.cityAttrResult {width:815px;  margin-top:35px; margin-bottom: 30px}
.cityAttrResult th {background: #d0d0d0; color: #406177; height: 30px;font-size:12px; border: 1px solid;}
.cityAttrResult td {height: 25px; background: #d0d0d0; border: 1px solid; font-size:12px; font-weight: bold;}

.cityAttrResult1 {width:885px;  margin-top:35px; margin-bottom: 30px}
.cityAttrResult1 th {background: #d0d0d0; color: #406177; height: 70px;font-size:15px; font-weight:bold; border: 1px solid;}
.cityAttrResult1 td {height: 70px; border: 1px solid; font-size:14px; font-weight: bold;}

.boxPlotContainer{width: 100%; height: 600px;margin-top: -50px; min-width: 310px; max-width: 820px; display: none;}
.menu5Compare {width:100%; font-size:  14px;}
.menu5Compare th {background: #d0d0d0; color: #406177; height: 30px;}
.menu5Compare td {height: 30px;}

.menu5Result {width:820px; font-size:  14px; margin-top:35px;}
.menu5Result th {background: #d0d0d0; color: #406177; height: 45px; border: 1px solid;}
.menu5Result td {height: 45px; border: 1px solid; font-size:12px; font-weight: bold;}
.menu5Detail {width: 820px; margin-bottom:30px; border-collapse: collapse; align:center; text-align: center; color: #000000; font-size: 14px;}

.menu2_2_keyWord_List {width:164%;margin-left: 30px; height: 38px     }
.menu2_2_table{width:86%; float: left;}
.menu2_3_table{width:86%; float: left;}
.partWrap{width: 99%; border: 0; border-spacing: 0; padding: 0; line-height: 50px; }
.containerPop{width: 800px; height: auto;  display: none;}
.mapTable3_0 { width:820px; font-size:  12px;}
.mapTable3_0 th {background: #f1cb7e; color: #000000; font-size: 15px; font-weight: bold; height: 30px; border: 1px solid black;}
.mapTable3_0 td {height: 30px; color: #000000; font-size: 16px;}
.manager_selbox{width: 150px; }

}
/*wide  */





@media all and (min-width:1680px){
	
	
/*main  */
.wra{width:1800px;height:900px; margin: 0 auto;}
.main_warp{ width:100%; height:580px; float: left;  background-image: url('/imgDesignNew/visual_bg.png'); 
			background-size:100%;  background-repeat: no-repeat;}
.quickmenu_wrap{width: 100%; height: 135px; background-image: url('/imgDesignNew/quickmenu_bg.png'); line-height: 133px; vertical-align: middle; float: left;      }			
.quickmenu_img{width: 178px; height: 133px; cursor: pointer;}			
.quickmenu_img_t{width: 232px; height: 133px;}  
.visual_menu_1{ position: inherit  ; margin: 17% 0 0 12%; float: left; width:296px;height:205px;   cursor: pointer;}
.visual_menu_2{ position: inherit  ; margin: 17% 0 0 3%; float: left;  width:296px;height:205px;   cursor: pointer;}
.head_blue_1{width:177px; height:58px; border: 0;}
.head_blue_2{width:139px; height:58px; border: 0;}
.head_blue_3{width:180px; height:58px; border: 0;}
.head_blue_4{width:125px; height:58px; border: 0;}
.head_blue_5{width:169px; height:58px; border: 0;}
.head_blue_6{width:177px; height:58px; border: 0;}
.head_ht{width:95%; height: 65px;}
/*menu0  */
.side_menu{width: 291px; height: 146px;}
.side_menu1{ width: 290px; height: 52px;}
.side_menu2{ width: 290px; height: 65px;}
.menu1_tit{width: 960px; height: 65px;}
.menu1_img1{width: 960px; height: 1250px;}
.menu01_wrap{width: 960px; height: auto; float: left;}
.menu01_more{width: 960px; height: 32px; cursor: pointer;}
.menu01_close{width: 960px; height: 32px; cursor: pointer; display: none;}
.menu01_img{width: 960px; height: 258px; }
.menu01_img1{width: 960px; height: 420px;  }
.menu01_img2{width: 960px; height: 235px; }
.menu01_img3{width: 960px; height: auto; display: none;}
.menu01_img4{width: 960px; height: 250px;  }
.menu01_img5{width: 960px; height: 1440px; display: none;}
.menu01_img6{width: 960px; height: 400px;}
.menu01_img7{width: 960px; height: 720px; display: none;}
.menu02_img{width: 960px; height: 115px;}
.menu00_img{width:950px; margin-bottom: 30px;margin-top: 30px;}
/*menu1  */
.menu1_container{width:960px; height: 300px;  display: none;}
.menu1_stdssMap{ width:100%; height: 700px; text-align: center;}
.menu1_left_p{ width:110px; font-family: 견고딕; font-size: 14px; font-weight: bold;  }
.menu1_selbox{width: 140px; }
.menu1_img{width: 130px; height: 28px; cursor: pointer;}
.memu1_bplist{width: 960px; }
.memu1_bplist2{width: 960px; }
.menu2_serch{ margin-left:15px; ;width: 258px; height: 36px; cursor: pointer;}
.menu2_img{width:960px; height: 580px;}
.menu2_font{margin-left:300px; font-size: 20; font-weight: bold; font-family: 견고딕; margin-top: 100px; }
.menu2_3font{margin-left:350px; font-size: 20; font-weight: bold; font-family: 견고딕; margin-top: 100px; }
.menu3_result_tbm{ height: auto; float: left;}
.menu3_tit{width: 85%; height: 52px;}  
.menu3_result_tb{width: 950px; height: auto; float: left; margin-left: 30px; overflow-x: scroll; display: none;}
.menu4_tit{width: 78%; height: 52px;}  
.contentWrapper{width: 950px;float: left; }
.contentWrapper2{width: 950px;float: left; }
.menu5_img{width: 960px; height: 752px;}
.menu5_0_td{height: 40px;width: 310px;}
.menu5_selbox{width: 705px; height: 30px;}
.menu5_selbox2{border-spacing: 2px;width: 950px; height: 70px; float: left; display:  block;margin-top:10px }
.menu5_map{width: 945px; height: 700px; marin-top:30px; background-color: #EEEEEE; float: left; margin-top:40px}
.menu5_map_font{width: 945px;  font-size: 15; font-weight: bold; font-family: 견고딕; }
.menu5_selectYear{width: 180px; height: 28px; font-size: 12px}
.menu5_pop{width: 180px; height: 28px; font-size: 12px}
.menu5_budget{width: 180px; height: 28px; font-size: 12px}
.menu5_busuness_year{width: 180px; height: 28px; font-size: 12px}
.menu5_system_facility{width: 180px; height: 28px; font-size: 12px}



.mapTable { width:100%; height: 100%; text-align: center; font-family: NanumGothic;  font-size:  12px;}
.mapTable th {background: #d0d0d0; color: #406177; font-size: 12px; font-weight: bold; height: 30px;}
.mapTable td {height: 30px; font-size: 11px;}
.menu5_listwrap{width: 300px; height: 700px; position: absolute; left: 1290px; top: 360px; z-index: 10; display: none; }
.partTitle{width: 79%; height: 50px; float: left; text-align: left; font-size: 25; font-weight: bold; font-family: 견고딕; margin-top: 10px; background-color: #033CA4; color: #FFFFFF;text-align:center;}
.menu2_3_part_List{width:93%}
.keywordWrap{width: 90%; height: 100px; border: 0; border-spacing: 0; padding: 0; line-height: 50px; }
.menu4_table{width: 70%;float: left; }
.contentWrapper3{width:1060px }
.contentWrapper2{width: 1050px;float: left; }
.contentWrapper2_3{width: 110%; }
.contentWrapper2_4{width: 1050px;}
.contentWrapper5{ width:1400px ;float: left; }
.footer_size{ margin-left: 15%   }   
.contentWrapper6{width:72%;float: left; }
.menu5_selbox3{width: 745px; height: 33px;}
.cityAttrResult {width:960px;  margin-top:35px; margin-bottom: 30px}
.cityAttrResult th {background: #d0d0d0; color: #406177; height: 30px;font-size:12px; border: 1px solid;}
.cityAttrResult td {height: 25px; background: #d0d0d0; border: 1px solid; font-size:12px; font-weight: bold;}

.cityAttrResult1 {width:960px;  margin-top:35px; margin-bottom: 30px}
.cityAttrResult1 th {background: #d0d0d0; color: #406177; height: 70px;font-size:15px; font-weight:bold; border: 1px solid;}
.cityAttrResult1 td {height: 70px; border: 1px solid; font-size:14px; font-weight: bold;}
.boxPlotContainer{width: 100%; height: 600px;margin-top: -50px; min-width: 310px; max-width:970px; display: none;}	
.menu5Compare {width:100%; font-size:  14px;}
.menu5Compare th {background: #d0d0d0; color: #406177; height: 30px;}
.menu5Compare td {height: 30px;}

.menu5Result {width:945px; font-size:  14px; margin-top:35px;}
.menu5Result th {background: #d0d0d0; color: #406177; height: 45px; border: 1px solid;}
.menu5Result td {height: 45px; border: 1px solid; font-size:12px; font-weight: bold;}
.menu5Detail {width: 945px; margin-bottom:30px; border-collapse: collapse; align:center; text-align: center; color: #000000; font-size: 14px;}
.menu2_2_keyWord_List {width:180%;margin-left: 30px; height: 38px     }
.menu2_2_table{width:71%; float: left;}
.menu2_3_table{width:71%; float: left;}
.partWrap{width: 89%; border: 0; border-spacing: 0; padding: 0; line-height: 50px; }
.containerPop{width: 100%; height: auto;  display: none;}
.mapTable3_0 { width:945px; font-size:  12px;}
.mapTable3_0 th {background: #f1cb7e; color: #000000; font-size: 15px; font-weight: bold; height: 20px; border: 1px solid black;}
.mapTable3_0 td {height: 20px; color: #000000; font-size: 16px;}
.manager_selbox{width: 150px; }




}  